<footer class="bottom-section">
    <section class="row">
        <div class="small-logo col-md-12">
            <div class="col-md-3">
                <a href="#"><img src="img/tappi-small-white.png" alt="Tappi Logo"></a>
            </div>
        </div>
        <div class="topic-list col-md-4">
            <h4><img src="img/topic-icon.png" alt="">Topics List</h4>
            <div class="col-md-6">
                <p><a href="">Longer Link 1</a></p>
                <p><a href="">Longer Link 2</a></p>
                <p><a href="">Longer Link 3</a></p>
                <p><a href="">Longer Link 4</a></p>
            </div>
            <div class="col-md-6">
                <p><a href="">Longer Link 5</a></p>
                <p><a href="">Longer Link 6</a></p>
                <p><a href="">Longer Link 7</a></p>
                <p><a href="">Longer Link 8</a></p>
            </div>
            <div class="float-fix"></div>
        </div>
        <div class="other-link col-md-4">
            <h4><img src="img/topic-icon.png" alt="">Other TAPPI sites</h4>
            <div class="col-md-6">
                <p><a href="">Longer Link 1</a></p>
                <p><a href="">Longer Link 2</a></p>
                <p><a href="">Longer Link 3</a></p>
                <p><a href="">Longer Link 4</a></p>
            </div>
            <div class="col-md-6">
                <p><a href="">Longer Link 5</a></p>
                <p><a href="">Longer Link 6</a></p>
                <p><a href="">Longer Link 7</a></p>
                <p><a href="">Longer Link 8</a></p>
            </div>
            <div class="float-fix"></div>
        </div>
        <div class="social-media col-md-4">
            <h4><img src="img/topic-icon.png" alt="">Social Media Links</h4>
            <ul>
                <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-2x fa-rss"></i></a></li>
            </ul>
            <!-- /social -->
            <div class="clear-fix"></div>
        </div>
    </section>
</footer>
<div class="bottom-nav col-md-12">
    <ul>
        <li><a href="#">About TAPPI</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Antitrust Policy</a></li>
    </ul>
</div>
