<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <span class="small-logo">
        <a href="#"><img src="img/tappi-small-white.png" alt="Tappi Logo"></a>
        </span>
            </div>
            <div class="col-md-3">
                <h4>Topics List</h4>
                <ul>
                    <li><a href="#">Footer Link 1</a></li>
                    <li><a href="#">Footer Link 2</a></li>
                    <li><a href="#">Footer Link 3</a></li>
                    <li><a href="#">Footer Link 4</a></li>
                    <li><a href="#">Footer Link 5</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Other TAPPI Sites</h4>
                <ul>
                    <li><a href="#">Footer Link 1</a></li>
                    <li><a href="#">Footer Link 2</a></li>
                    <li><a href="#">Footer Link 3</a></li>
                    <li><a href="#">Footer Link 4</a></li>
                    <li><a href="#">Footer Link 5</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Get In Touch</h4>
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-2x fa-rss"></i></a></li>
                </ul>
                <ul class="address">
                    <li>15 Technology Parkway South, <br />Suite 115</li>
                    <li>Peachtree Corners, GA 30092</li>
                    <li>(770) 446-1400</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
</footer>

        <div class="container-fluid bottom-nav">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#">About TAPPI</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Antitrust Policy</a></li>
                </ul>
            </div>
        </div>
    </div>