<section class="slider-area slider-landing-page">
    <div class="flexslider">
        <!--<div class="featured-overlay"></div>-->
        <ul class="slides">
            <li class="individual-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                <img src="img/forest-image-3.jpg" draggable="false">
                <div class="slider-title">
                    <h4><img src="img/topic-icon.png" alt="" draggable="false">Topic Name and Title</h4>
                    <h2>Featured Item: News, Event, Etc.</h2>
                    <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem istos.</p>
                    <a class="take-action" href="http://google.com">Take Action</a>
                </div>
            </li>
            <li class="individual-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.137313; display: block; z-index: 1;">
                <img src="img/forest-image2.jpg" draggable="false">
                <div class="slider-title">
                    <h4><img src="img/topic-icon.png" alt="" draggable="false">Topic Name and Title</h4>
                    <h2>Featured Item: News, Event, Etc.</h2>
                    <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem istos.</p>
                    <a class="take-action" href="http://google.com">Take Action</a>
                </div>
            </li>
            <li class="individual-slide flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.862687; display: block; z-index: 2;">
                <img src="img/forest-image.jpg" draggable="false">
                <div class="slider-title">
                    <h4><img src="img/topic-icon.png" alt="" draggable="false">Topic Name and Title</h4>
                    <h2>Featured Item: News, Event, Etc.</h2>
                    <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem istos.</p>
                    <a type="role" class="take-action" href="http://google.com">Take Action</a>
                </div>
            </li>
        </ul>
        <ul class="flex-direction-nav">
            <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
            <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
        </ul>
    </div>
</section>
