<header class="cd-main-header">
    <div class="main-logo col-md-3">
        <a href="#"><img src="img/tappi-logo.jpg" alt="Tappi Logo"></a>
    </div>
    <div class="signin-join-buttons col-md-3">
        <button type="button" class="signin-button">Sign In</button>
        <button type="button" class="join-button">Join</button>
    </div>
    <div class="search-nav col-md-6">
        <ul class="utility-nav">
            <li><a href="#">Stores</a></li>
            <li><a href="#">Buyers Guide</a></li>
            <li><a href="#">About TAPPI</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <div class="search-ui">
            <div class="input-group">
                <input type="text" class="form-control search-box">
                <span class="input-group-btn">
                    <button type="button" class="search-button">Search</button></span>
            </div>
        </div>
    </div>
    <ul class="cd-header-buttons">
        <li>
            <a class="cd-nav-trigger3" style="" href="#cd-primary-nav">
                <span style="

" class="fa fa-bars"></span></a>
        </li>
    </ul>
    <!-- cd-header-buttons-->
    <div class="float-fix"></div>
    {% include nav.html %}
</header>
