<!--Start of Navigation Section -->
<!--
        Important class list for implemenation of Nav
        1. cd-nav: wrapper class for nav area.
        2. new-close-trigger: close button in mobile area
        3. has-children: Display children links under specfic areas
        4. go-back: moves navigation back to first menu
        5. is-hidden: hides links for sub navigation
    -->
<nav class="cd-nav">
    <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
        <div class="new-close-trigger">
            <a class="cd-nav-trigger-2" href="#cd-primary-nav">
                <span class="cross-area"><img src="img/close-icon.png" ></span>Close</a>
        </div>
        <li class="has-children">
            <a class="submenu-trigger visible-xs visible-sm" href="#"><i class="fa fa-angle-right"></i></a>
            <a href="#">Topics</a>
            <ul class="cd-secondary-nav is-hidden single-menu">
                <li class="go-back"><a href="#0">Main Menu</a></li>
                <li class="has-children">
                    <a class="submenu-trigger visible-xs visible-sm" href="#"><i class="fa fa-angle-right"></i></a>
                    <a href="#">Menu 1</a>
                    <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back </a></li>
                        <li class="has-children">
                            <a href="#0">Sub Menu 1</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Sub Menu 1</a></li>
                                <li><a href="#">Sub Sub Menu 2</a></li>
                                <li><a href="#">Sub Sub Menu 3</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0">Sub Menu 2</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Sub Menu 1</a></li>
                                <li><a href="#">Sub Sub Menu 2</a></li>
                                <li class="has-children"><a href="#">Sub Sub Menu 3</a>
                                    <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Back</a></li>
                                        <li><a href="#">Sub Sub Sub Menu 1</a></li>
                                        <li><a href="#">Sub Sub Sub Menu 2</a></li>
                                        <li><a href="#">Sub Sub Sub Menu 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#0">Sub Menu 4</a></li>
                        <li><a href="#0">Sub Menu 5</a></li>
                        <li><a href="#0">Sub Menu 6</a></li>
                        <li><a href="#0">Sub Menu 7</a></li>
                        <li><a href="#0">Sub Menu 8</a></li>
                        <li><a href="#0">Sub Menu 9</a></li>
                        <li><a href="#0">Sub Menu 10</a></li>
                        <li><a href="#0">Sub Menu 11</a></li>
                        <li><a href="#0">Sub Menu 12</a></li>
                        <li><a href="#0">Sub Menu 13</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="has-children">
            <a class="submenu-trigger visible-xs visible-sm" href="#"><i class="fa fa-angle-right"></i></a>
            <a href="#">Education</a>
            <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0">Main Menu</a></li>
                <li class="has-children">
                    <a href="#">Main 1</a>
                    <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 1</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li class="has-children"><a href="#">Sub Nav 2</a>
                                    <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                                    <ul class="is-hidden">
                                        <li class="go-back"><a href="#0">Back</a></li>
                                        <li class="has-children"><a href="#">Sub Sub Sub Menu 1</a>
                                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                                            <ul class="is-hidden">
                                                <li class="go-back"><a href="#0">Back</a></li>
                                                <li class="has-children"><a href="#">Sub Sub Sub Sub Menu 1</a>
                                                    <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                                                    <ul class="is-hidden">
                                                        <li class="go-back"><a href="#0">Back</a></li>
                                                        <li><a href="#">Sub Sub Sub Sub Sub Menu 1</a></li>
                                                        <li><a href="#">Sub Sub Sub Sub Sub Menu 2</a></li>
                                                        <li><a href="#">Sub Sub Sub Sub Sub Menu 3</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Sub Sub Menu 2</a></li>
                                                <li><a href="#">Sub Sub Menu 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Sub Sub Menu 2</a></li>
                                        <li><a href="#">Sub Sub Menu 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Sub Nav 3</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 2</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 1</a></li>
                                <li><a href="#">Sub Nav 2</a></li>
                                <li><a href="#">Hats</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sub Nav 3</a></li>
                        <li><a href="#">Sub Nav 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="#">Main 2</a>
                    <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 1</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 2</a></li>
                                <li><a href="#">Sub Nav 3</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 2</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 1</a></li>
                                <li><a href="#">Sub Nav 2</a></li>
                                <li><a href="#">Hats</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sub Nav 3</a></li>
                        <li><a href="#">Sub Nav 4</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="#">Main 3</a>
                    <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                    <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 1</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 2</a></li>
                                <li><a href="#">Sub Nav 3</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 2</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 1</a></li>
                                <li><a href="#">Sub Nav 2</a></li>
                                <li><a href="#">Hats</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sub Nav 3</a></li>
                        <li><a href="#">Sub Nav 4</a></li>
                    </ul>
                </li>
                <div class="ad-area">
                    <img src="img/placeholders/728x90.png" alt="">
                </div>
            </ul>
        </li>
        <li class="has-children">
            <a class="submenu-trigger visible-xs visible-sm" href="#"><i class="fa fa-angle-right"></i></a>
            <a href="#">Events</a>
            <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0">Main Menu</a></li>
                <li class="has-children image-area">
                    <a href="">Featured Links</a>
                    <ul>
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="first-area">
                            <a href=""><img src="img/trees.jpg" alt="trees"></a>
                            <p>Place Image Text Here</p>
                        </li>
                        <li class="second-area">
                            <a href=""><img src="img/portarite.jpg" alt="trees"></a>
                            <p>Place Image Text Here</p>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="#">Main 1</a>
                    <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                    <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 1</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 2</a></li>
                                <li><a href="#">Sub Nav 3</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 2</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 2</a></li>
                                <li><a href="#">Sub Nav 3</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sub Nav 3</a></li>
                        <li><a href="#">Sub Nav 4</a></li>
                    </ul>
                </li>
                <div class="ad-area">
                    <img src="img/placeholders/728x90.png" alt="">
                </div>
            </ul>
        </li>
        <li class="has-children">
            <a class="submenu-trigger visible-xs visible-sm" href="#"><i class="fa fa-angle-right"></i></a>
            <a href="#">Publications & Standards</a>
            <ul class="cd-secondary-nav is-hidden">
                <li class="go-back"><a href="#0">Main Menu</a></li>
                <li class="has-children image-area">
                    <a href="">Featured Links</a>
                    <ul>
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="first-area">
                            <a href=""><img src="img/trees.jpg" alt="trees"></a>
                            <p>Place Image Text Here</p>
                        </li>
                        <li class="second-area">
                            <a href=""><img src="img/portarite.jpg" alt="trees"></a>
                            <p>Place Image Text Here</p>
                        </li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="#">Main 1</a>
                    <a class="submenu-trigger" href="#"><i class="fa fa-angle-right"></i></a>
                    <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Back</a></li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 1</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 2</a></li>
                                <li><a href="#">Sub Nav 3</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#0">Sub Nav 2</a>
                            <a class="submenu-trigger " href="#"><i class="fa fa-angle-right"></i></a>
                            <ul class="is-hidden">
                                <li class="go-back"><a href="#0">Back</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                                <li><a href="#">Sub Nav 4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sub Nav 3</a></li>
                        <li><a href="#">Sub Nav 4</a></li>
                    </ul>
                </li>
                <div class="ad-area">
                    <img src="img/placeholders/728x90.png" alt="">
                </div>
            </ul>
        </li>
        <li>
            <a href="#">Get Involved</a>
        </li>
        <li><a href="#">Members</a></li>
        <li><a href="#">News</a></li>
    </ul>
    <!-- primary-nav -->
</nav>
<!--End of Navigation Section -->