<section class="news-titles-area col-md-12">
    <!--First Card Area-->
    <div class="news-titles col-md-4 red-news-titles">
        <div class="news-text-area-1 news-container">
            <div class="news-image-area">
                <img src="img/forest-image2.jpg" alt="">
            </div>
            <div class="content-area animated">
                <h4>News Title Item 1</h4>
                <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem dicantur magna mollis euismod. Etiam habebis sem dicantur magna mollis e...</p>
                <br/>
                <button type="button" class="call-to-action">Click to Item</button>
            </div>
        </div>
        <div class="title-area">
            <div class="action-button-area">
                <a class="action-button">
                    <div class="arrow-button inner-action-button-1 onclick-1"><img src="img/icon-arrow.png" alt="icon"></div>
                </a>
            </div>
        </div>
        <div class="title-area-2">
            <h4>Atlantic Packaging Products Acquires Ohio Based Skybox Packaging <a class="read-more" href="#">Read the Article</a></h4>
        </div>
    </div>
    <!--End Card Area-->
    <!--Second Card Area-->
    <div class="news-titles col-md-4 green-news-titles">
        <div class="news-text-area-2 news-container">
            <div class="news-image-area">
                <img src="img/forest-image2.jpg" alt="">
            </div>
            <div class="content-area animated">
                <h4>News Title Item 1</h4>
                <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem dicantur magna mollis euismod. Etiam habebis sem dicantur magna mollis e...</p>
                <br/>
                <button type="button" class="call-to-action">Click to Item</button>
            </div>
        </div>
        <div class="title-area">
            <div class="action-button-area">
                <a class="action-button">
                    <div class="arrow-button inner-action-button-2 onclick-2"><img src="img/icon-arrow.png" alt="icon"></div>
                </a>
            </div>
        </div>
        <div class="title-area-2">
            <h4>Forest Foundation Announces New Sustainability Initiative in U.S. Southern States </h4>
        </div>
    </div>
    <!--End Card Area-->
    <!--Thrid Card Area-->
    <div class="news-titles col-md-4 blue-news-titles">
        <div class="news-text-area-3 news-container">
            <div class="news-image-area">
                <img src="img/forest-image2.jpg" alt="">
            </div>
            <div class="content-area animated">
                <h4>News Title Item 1</h4>
                <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem dicantur magna mollis euismod. Etiam habebis sem dicantur magna mollis e...</p>
                <br/>
                <button type="button" class="call-to-action">Click to Item</button>
            </div>
        </div>
        <div class="title-area">
            <div class="action-button-area">
                <a class="action-button">
                    <div class="arrow-button inner-action-button-3 onclick-3"><img src="img/icon-arrow.png" alt="icon"></div>
                </a>
            </div>
        </div>
        <div class="title-area-2">
            <h4>SCA Reorganizes into Hygiene, Forest Products Divisions</h4>
        </div>
    </div>
    <!--End Card Area-->
</section>
