<section class="news-titles-area col-md-12">
    <!--First Card Area-->
    <div class="news-titles col-md-4 red-news-titles">
        <div class="title-area-2">
            <h4>Atlantic Packaging Products Acquires Ohio Based Skybox Packaging <a class="read-more" href="#">Read the Article</a></h4>
        </div>
    </div>
    <!--End Card Area-->
    <!--Second Card Area-->
    <div class="news-titles col-md-4 green-news-titles">
        <div class="title-area-2">
            <h4>U.S. Food Contact Paper Market to Grow 6.4% Annually through 2019 <a class="read-more" href="#">Read the Article</a></h4>
        </div>
    </div>
    <!--End Card Area-->
    <!--Thrid Card Area-->
    <div class="news-titles col-md-4 blue-news-titles">
        <div class="title-area-2">
            <h4>SCA Reorganizes into Hygiene, Forest Products Divisions <a class="read-more" href="#">Read the Article</a></h4>
        </div>
    </div>
    <!--End Card Area-->
</section>
