<div class="col-md-3">
    <div class="topic-section">
        <div class="card-content">
            <div class="topic-title">
                <h4>Subscribe Today</h4>
            </div>
            <div class="card-content--interior">
                <p>Call to action messaging. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo</p>
                <div class="card-content--cta">
                    <button type="button" class="join-button">Call to Action</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ad-area-4">
        <img src="http://placehold.it/180x600">
    </div>
    <div class="ad-area-4">
        <img src="http://placehold.it/180x150">
    </div>
</div>
