<!--container div for smooth slide animation-->
<section class="slider-area">
    <div class="flexslider">
        <!--<div class="featured-overlay"></div>-->
        <ul class="slides">
            <li class="individual-slide">
                <img src="img/cover-image-1.png" />
                <div class="slider-title">
                    <h4><img src="img/topic-icon.png" alt="">Topic Name and Title</h4>
                    <h2>Featured Item: News, Event, Etc.</h2>
                    <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem istos.</p>
                    <a class="take-action" href="http://google.com">Take Action</a>
                </div>
            </li>
            <li class="individual-slide">
                <img src="img/cover-image-2.png" />
                <div class="slider-title">
                    <h4><img src="img/topic-icon.png" alt="">Topic Name and Title</h4>
                    <h2>Featured Item: News, Event, Etc.</h2>
                    <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem istos.</p>
                    <a class="take-action" href="http://google.com">Take Action</a>
                </div>
            </li>
            <li class="individual-slide">
                <img src="img/forest-image.jpg" />
                <div class="slider-title">
                    <h4><img src="img/topic-icon.png" alt="">Topic Name and Title</h4>
                    <h2>Featured Item: News, Event, Etc.</h2>
                    <p>Quattrocento Sans Regular is the font being used. Etiam habebis sem istos.</p>
                    <a class="take-action" href="http://google.com">Take Action</a>
                </div>
            </li>
        </ul>
    </div>
</section>
