//Color Palette
$white: #fff;
$black: #000;

$off-white: #f2f2f2;
$off-white-2:#f6f6f6;
$dark-white: #EBEBEB;


$light-grey:#E2E3DF;
$line-color:#e9e9e9;
$light-line-color:#9aa2af;
$grey:#cccccc;

$light-blue:#337ab7;

$light-pale:#F5F7FA;
$dark-pale:#E6E9ED;

$coffee-light: #6b645c;
$coffee-dark: #393531;

$forest-light: #02995C;
$forest-dark: #01673f;

$ocean-light: #0abefa;
$ocean-dark: #0999c8;

$plum-light: #991b02;
$plum-dark: #671201;

//Main Layout Sizes
$max-width-size:991px;
$min-width-size:992px; 

//Special Layout Sizes
$custom-size-1: 500px;
$custom-size-3: 700px;
$custom-size-5: 800px;
$custom-size-2: 1086px;
$custom-size-4: 1200px;

//Adjust Break points Here
$mobile-size-1: 455px;
$mobile-size-2: 600px;
$mobile-size-4: 991px;
$mobile-size-3: 1300px;